<?xml version="1.0"?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="uTransporterOutput"/>
    <appender-ref ref="uTransporterOutputFileDebug" />
    <appender-ref ref="uTransporterOutputFileInfo" />
    <appender-ref ref="uTransporterOutputFileError" />
    <appender-ref ref="uTransporterOutputFileWarn" />
    <appender-ref ref="uTransporterOutputFileFatal" />
    <appender-ref ref="uTransporterOutputConsole" />
    <appender-ref ref="ADONetAppender" />
  </root>
  <!-- Logging -->
  <appender name="uTransporterOutput" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%5level [%thread] – %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Umbraco" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>
  <appender name="uTransporterOutputConsole" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%5level [%thread] (%file:%line) – %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Umbraco" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>
  <!-- Logging for File-->
  <appender name="uTransporterOutputFileDebug" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\Logs\uTransporterDebugLog.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level Umbraco Sync - %logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Umbraco" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="DEBUG" />
    </filter>
  </appender>
  <appender name="uTransporterFileInfo" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\Logs\uTransporter_Info_Log.txt" />
    <appendToFile value="true" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level Umbraco Sync - %logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="INFO" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Umbraco" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>
  <appender name="uTransporterOutputFileWarn" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\Logs\uTransporterWarningLog.txt" />
    <appendToFile value="true" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level Umbraco Sync - %logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="WARN" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Umbraco" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>
  <appender name="uTransporterOutputFileError" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\Logs\uTransporterErrorLog.txt" />
    <appendToFile value="true" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="ERROR" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Umbraco" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>
  <appender name="uTransporterOutputFileFatal" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data\Logs\uTransporterFatalLog.txt" />
    <appendToFile value="true" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="FATAL" />
      <levelMax value="FATAL" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Umbraco" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>

  <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="server=dt-dev1.mirabeau.nl; uid=sa; pwd=DTmc2013%; database=UmbracoSyncLog" />
    <commandText value="INSERT INTO log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@thread"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception"/>
      <dbType value="String"/>
      <size value="2000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>
  </appender>

</log4net>
