<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mirabeau.uTransporter.Properties.DocumentType" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Mirabeau.uTransporter.Properties.Namespaces" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Mirabeau.uTransporter.Properties.Property" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Mirabeau.uTransporter.Properties.Tab" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Mirabeau.uTransporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mirabeau.uTransporter.Properties.DocumentType>
            <setting name="Name" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="Alias" serializeAs="String">
                <value>Alias</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value>Icon </value>
            </setting>
            <setting name="Thumb" serializeAs="String">
                <value>Thumbnail</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>Description</value>
            </setting>
            <setting name="AllowAtRoot" serializeAs="String">
                <value>AllowAtRoot</value>
            </setting>
            <setting name="DefaultTemplate" serializeAs="String">
                <value>DefaultTemplate</value>
            </setting>
            <setting name="AllowedTemplates" serializeAs="String">
                <value>AllowedTemplates</value>
            </setting>
            <setting name="AllowedChildNodeTypes" serializeAs="String">
                <value>AllowedChildNodeTypes</value>
            </setting>
            <setting name="DocumentTypeName" serializeAs="String">
                <value>DocumentType</value>
            </setting>
            <setting name="DocumentTypeBaseClassName" serializeAs="String">
                <value>IDocumentTypeBase</value>
            </setting>
        </Mirabeau.uTransporter.Properties.DocumentType>
        <Mirabeau.uTransporter.Properties.Namespaces>
            <setting name="AttributesNamespace" serializeAs="String">
                <value>Mirabeau.uTransporter.Attributes</value>
            </setting>
            <setting name="EnumsNamespace" serializeAs="String">
                <value>Mirabeau.uTransporter.Enums</value>
            </setting>
            <setting name="ModelsNamespace" serializeAs="String">
                <value>Mirabeau.uTransporter.Models</value>
            </setting>
            <setting name="SystemNamespace" serializeAs="String">
                <value>System </value>
            </setting>
            <setting name="DocumentTypeNamespace" serializeAs="String">
                <value>uTransporter.DocumentTypes</value>
            </setting>
        </Mirabeau.uTransporter.Properties.Namespaces>
        <Mirabeau.uTransporter.Properties.Property>
            <setting name="DocumentTypeProperty" serializeAs="String">
                <value>DocumentTypeProperty</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="Alias" serializeAs="String">
                <value>Alias </value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>Description</value>
            </setting>
            <setting name="Tab" serializeAs="String">
                <value>Tab</value>
            </setting>
            <setting name="SortOrder" serializeAs="String">
                <value>SortOrder</value>
            </setting>
            <setting name="Mandatory" serializeAs="String">
                <value>Mandatory</value>
            </setting>
            <setting name="ValidationRegExp" serializeAs="String">
                <value>ValidationRegExp</value>
            </setting>
            <setting name="OtherTypeName" serializeAs="String">
                <value>OtherTypeName</value>
            </setting>
            <setting name="Other" serializeAs="String">
                <value>Other</value>
            </setting>
        </Mirabeau.uTransporter.Properties.Property>
        <Mirabeau.uTransporter.Properties.Tab>
            <setting name="TabName" serializeAs="String">
                <value>TabName</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="SortOrder" serializeAs="String">
                <value>SortOrder </value>
            </setting>
        </Mirabeau.uTransporter.Properties.Tab>
        <Mirabeau.uTransporter.Properties.Settings>
            <setting name="FileExtension" serializeAs="String">
                <value>.cs</value>
            </setting>
            <setting name="DocumentTypesDir" serializeAs="String">
                <value>DocumentTypes</value>
            </setting>
            <setting name="TemplateNamespace" serializeAs="String">
                <value>Template</value>
            </setting>
            <setting name="TemplateDir" serializeAs="String">
                <value>Templates</value>
            </setting>
            <setting name="SyncBaseDir" serializeAs="String">
                <value>uTransporter </value>
            </setting>
        </Mirabeau.uTransporter.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
